CommandOffsetY 0
CommandY 1035
CommandHeight 15
CommandNotMovable

CommandBorders 1

CommandFontHeight 13
CommandFont "$Font$"

CommandFontColor "$TextColor$"
CommandPaintingMode ".singlecolor"
CommandColors "$BorderColor$"

CommandStartHidden
CommandHideOnCommand
CommandHideOnEsc
CommandHideOnUnfocus

CommandAlwaysOnTop

CommandClearOnHide

CommandContextMenuAboveBox
