*Hotkey Win A !Execute "iTunes"
*Hotkey Win C !Execute "putty.exe -load cygwin"

*Hotkey CTRL+ALT R !Recycle

*Hotkey WIN 1 !VWMDesk 1
*Hotkey WIN 2 !VWMDesk 2
*Hotkey WIN 3 !VWMDesk 3
*Hotkey WIN 4 !VWMDesk 4
*Hotkey WIN 5 !VWMDesk 5
*Hotkey WIN 6 !VWMDesk 6

*Hotkey WIN+SHIFT 1 !VWMMoveApp 1
*Hotkey WIN+SHIFT 2 !VWMMoveApp 2
*Hotkey WIN+SHIFT 3 !VWMMoveApp 3
*Hotkey WIN+SHIFT 4 !VWMMoveApp 4
*Hotkey WIN+SHIFT 5 !VWMMoveApp 5
*Hotkey WIN+SHIFT 6 !VWMMoveApp 6

*Hotkey WIN S !VTrayToggle

*Hotkey WIN X !CommandFocus

*Hotkey WIN+SHIFT Q !Shutdown
